
.groupDisplay {
    background-color: hsl(174, 53%, 56%);
    min-height: 510px;
    width: 300px;
    border-radius: 5px;
    margin: 10px;
    border: yellow solid;
    display: flex;
    flex-direction: column-reverse;
}

.groupDisplay:hover {
    border-color: hsl(63, 88%, 47.5%);
}


