
.textInfo {
    max-width: 100%;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    background-color: hsl(123, 28%, 40%);
    padding: 0 7px 0 7px;

}

.actualText {
    color: white;
    font-size: 17.5px;
}

.boxAround {
    padding: 10px;
    background-color: hsl(123, 28%, 50%);
    width: 1000px;
}