
.textInfo {
    max-width: 100%;
    border: solid lightsteelblue;
    border-radius: 5px;
    background-color: lightblue;
    padding: 0 7px 0 7px;

}

.actualText {
    color: steelblue;
    font-size: 17.5px;
}

.boxAround {
    border-radius: 5px;
    border: solid white;
    padding: 0;
    background-color: lightblue;
    width: 1000px;
}