
.textInfo {
    max-width: 100%;
    border-style: solid;
    border-color: green;
    border-radius: 5px;
    background-color: hsl(123, 28%, 40%);
    padding: 0 7px 0 7px;
    font-size: 20px;
}

.actualText {
    color: white;
}

.boxAround {
    padding: 10px;
    background-color: hsl(123, 28%, 50%);
    width: 98.7%;
}