.completeSmallTipBoxPrivate {
    background-color:lightpink;
    width: 450px;
    min-height: 225px;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 30px 0;
}

.smallTipBoxPrivate {
    border-radius: 5px;
    padding: 5px;
    background-color: plum;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}