.completeSmallTipBoxPublic {
    backdrop-filter: blur(110px);
    width: 350px;
    min-height: 175px;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 30px 0;
}

.smallTipBoxPublic {
    border-radius: 5px;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}