
.completeRegister {
    background-color: hsla(159, 37%, 40%, 0.94);
    border-radius: 10px;
    font-size: 15px;
    max-width: 350px;
}

.logInAndRegister {
    width: available;
    display: flex;
    justify-content: space-around;
    height: 80px;
    border-radius: 10px 10px 0 0;
    font-size: 27.5px;
}

.inputFieldRegister {
    border: none;
    margin: 20px 50px 20px 50px;
    display: flex;
    border-radius: 5px;
    width: 200px;
    height: 20px;
 }

.logInRegister {
    width: 50%;
    color: white;
    text-decoration: none;
}

.labelRegister {
    color: white;
}

.errorMessage {
    color: red;
    height: auto;
    background-color: transparent;
    font-size: 12.5px;
}

.errorBox {
    margin-bottom: 15px;
}

#registerButton {
    cursor: pointer;
    border-radius: 50px;
    border: none;
    color: white;
    margin-bottom: 20px;
    background-color: darkgrey;
}

#registerButton:hover {
    color: darkgrey;
    background-color: white;
}

#registerPageId {
    border-radius: 0 10px 0 0;
}

#loginPageId {
    border-radius: 10px 0 0 0;
    background-color: darkgrey;
}

.inputFieldRegister::placeholder {
    color: lightgrey;
}











