
.tipBox {
    border: solid lightsteelblue;
    border-radius: 5px;
    background-color: lightblue;
    width: 600px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 210px auto;
    grid-template-areas:
                        "pic pic adres adres"
                        "pic pic textDis textDis"
                        "pic pic butOne butTwo";
}

.tipBoxTwo {
    display: flex;
    justify-content: center;
    margin: 12px;
    border-radius: 5px;
    background-color: lightsteelblue;
    color: white;
}

.tipBoxTwoBut {
    min-width: 100px;
    height: 30px;
    color: green;
    background-color: hsla(52, 100%, 51%, 0.96);
    border-radius: 15px;
    border-color: green;
    border-style: solid;
    cursor: pointer;
    margin: 0 12px 12px;
}

#pictureDisplay {
    grid-area: pic;
    margin-right: 0;
    height: 285px;
}

#adressDisplay {
    grid-area: adres;
    margin-bottom: 0;
}

#textDisplayTip {
    grid-area: textDis;

}

#buttonOne {
    margin-top: 0;
}

#buttonTwo {
    margin-top: 0;
}

#buttonOne:hover {
    background-color: hsla(108, 31%, 40%, 0.96);
    color: white;
}

#buttonTwo:hover {
    background-color: hsla(108, 31%, 40%, 0.96);
    color: white;
}



