

.smallTipBox {
    border-style: solid;
    width: 220px;
    height: auto;
    padding-top: 10px;
    border-radius: 5px;
    border-color: green;
    background-color: hsl(155, 32%, 48%);
    margin: 0 40px 30px 40px;
}

.smallTipBox:hover {
    background-color: hsla(108, 31%, 50%, 0.96);
}

.pictureBox {
    display: flex;
    justify-content: center;
}

#titelSmallTip {
    background-color: hsl(159, 32%, 62%);
    color: white;
    margin: 0 5px 5px 5px;
    border-radius: 5px;
}

#displayPic {
    background-color: hsl(159, 32%, 62%);
    color: white;
    width: 95%;
    border-radius: 10px;
}

#readMoreButton {
    width: 95%;
    margin-bottom: 5px;
    border: none;
    color: green;
    background-color: hsla(52, 100%, 51%, 0.96);
    border-radius: 5px;
    cursor: pointer;
}

#readMoreButton:hover {
    background-color: hsla(108, 31%, 40%, 0.96);
    color: white;
}