
.allTips {
    display: flex;
    justify-content: space-around;
    width: auto;
    max-width: 100%;
    overflow: auto;
    height: 90%;
}

/*.tipPageBoxStandard {*/
/*    !*margin: 20px;*!*/
/*    !*display: flex;*!*/
/*    !*justify-content: space-around;*!*/
/*    !*align-items: center;*!*/
/*    !*flex-direction: column;*!*/
/*    !*width: auto;*!*/
/*    !*max-width: 100%;*!*/
/*    !*overflow: auto;*!*/
/*    !*height: 60%;*!*/
/*}*/

/*.tipPageBoxPrive {*/
/*    !*display: flex;*!*/
/*    !*justify-content: space-around;*!*/
/*    !*align-items: center;*!*/
/*    !*flex-direction: column;*!*/
/*    !*width: auto;*!*/
/*    !*max-width: 100%;*!*/
/*    !*overflow: auto;*!*/
/*    !*height: 60%;*!*/
/*}*/

/*.profilePageBox {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

.profileSticky {
    display: flex;
    flex-direction: column-reverse;
}

.allTips::-webkit-scrollbar{
    background-color: lightblue;
    color: red;
}

.allTips::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.allTips::-webkit-scrollbar-thumb {
    border-right: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
