
* {
    background-color: hsl(158, 100%, 24.8%);
}

.registerPageTwo {
    position: absolute;
    margin: 0 175px 0 1050px;
}

.imageOne {
    position: absolute;
    margin-left: 110px;
    background-color: hsl(158, 100%, 25%);
}