
body {
    background-size: cover;
    background-image: url("../images/AmsterdamDag.jpg");
    background-repeat: no-repeat;
}

.tipPageBox {
    margin: 65px 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    max-width: 100%;
    overflow: auto;
}

.tipPageBox::-webkit-scrollbar{
    background-color: hsl(0, 0%, 52%);
    color: red;
}

.tipPageBox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.tipPageBox::-webkit-scrollbar-thumb {
    border-right: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
