
.completeFormReview {
    border: solid lightsteelblue;
    padding: 5px;
    border-radius: 5px;
    background-color: lightblue;
}

.hearts {
    display: flex;
    justify-content: space-between;
}

.labelHearts {
    border-radius: 5px;
    background-color: lightsteelblue;
    color: white;
}

.commentPart {
    margin: 5px 0 0 0;
    border-radius: 5px;
    background-color: lightsteelblue;
    color: white;
    border: none;
}

.commentPart::placeholder {
    color: white;
}

.buttonReviewOne {
    margin-top: 0;
}

#plusButtonReview {
    width: 100%;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    min-height: 18px;
    background-color: hsla(52, 100%, 51%, 0.96);
    color: green;
}

#plusButtonReview:hover {
    background-color: hsla(108, 31%, 40%, 0.96);
    color: white;
}