.tipBox {
    margin: 50px;
}

#buttonHeartBrokenScreen {
    grid-area: butOne;
}

#buttonHeartScreen {
    grid-area: butTwo;
}

.heartsScreen {
    display: flex;
    background-color: lightblue;
    border: none;
    margin: 0 0 12px 12px;
}