#standardTipLabel {
    border-radius: 10px;
    font-size: 10px;
    background-color: hsl(111, 100%, 50%);
    padding: 3px;
    color: darkgreen;
}

#privateTipLabel {
    border-radius: 10px;
    font-size: 10px;
    background-color: hsl(304, 99%, 62%);
    padding: 3px;
    color: hsl(304, 99%, 90%);
}

#publicTipLabel {
    border-radius: 10px;
    font-size: 10px;
    background-color: hsl(184, 100%, 49%);
    padding: 3px;
    color: hsl(184, 100%, 20%);
}

#groupTipLabel {
    border-radius: 10px;
    font-size: 10px;
    background-color: yellow;
    padding: 3px;
    color: darkorange;
}

#receivedTipLabel {
    border-radius: 10px;
    font-size: 10px;
    background-color: hsl(1, 100%, 66%);
    padding: 3px;
    color: hsl(1, 100%, 81%);
}