
.navContainerOne {
    border: solid green;
    margin: 0 0 10px 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: hsla(159, 37%, 40%, 0.94);
    width: 100%;
    height: 100%;
}





