.adminBox {
    height: 500px;
    width: 325px;
}

.displayAdmin {
    margin: 30px 0 0 0;
    border: solid lightsteelblue;
    height: 50%;
    width: 100%;
    overflow: auto;
    padding: 15px;
    background-color: lightblue;
    border-radius: 5px;
}

.adminButton {
    height: 25px;
}

.infoBox {
    max-height: 60px;
    overflow: auto;
}

/*.displayAdmin {*/
/*    border: red solid;*/
/*    margin: 30px 0 0 0;*/
/*    height: 50%;*/
/*    width: 100%;*/
/*    overflow: auto;*/
/*    padding: 0 12.5px 0 12.5px;*/
/*}*/